* {
  margin: 0;
  padding: 0;
}

.landing {
  height: 100vh;
  width: 100vw;
  background-image: url('/violinist.jpg');
  object-fit: cover;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  background-color: #141c18;
  display: flex;
  justify-content: center;
  align-items:flex-end;
}

.gerald-elias {
  font-family: 'Rock Salt', cursive;
  color: #e4e4dc;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.navbar {
  position: absolute;
  width: 100vw;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
}

.nav-menu a {
  font-family: 'Outfit', sans-serif;
  color: #e4e4dc;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-right: 2rem;
  text-decoration: none;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.nav-menu a:hover {
  cursor: pointer;
}

.nav-menu a span {
  font-size: 0.5rem;
  position: relative;
  top: -1px;
  right: -2px;
  text-decoration: none;
  display: inline-block;
  transition: all 1s;
}

.nav-menu a:hover {
  color: white;
  text-decoration: underline;
}

.nav-menu{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: ;
}

.arrow-container {
  position: absolute;
  bottom: 0px;
}

.arrow {
  position: relative;
  filter: invert(1);
  width: 5rem;
  -webkit-animation:bounce 1s infinite;
  -moz-animation:bounce 1s infinite;
  -o-animation:bounce 1s infinite;
  animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @-moz-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @-o-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

.about {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10rem;
}

.about-description {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  width: 50vw;
  font-size: 1.2rem;
}

.about-header {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  color: rgb(60, 60, 60);
  font-size: 2rem;
}

.about-line {
  width: 12.5rem;
  background-color: rgb(202, 202, 202);
  height: 2px;
  margin-bottom: 2rem;
}

.about-image {
  height: 24rem;
  margin-left: auto;
  margin-right: 10rem;
}

.book {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.home-books-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20rem;
}

.home-book {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.home-book img {
  position: relative;
  height: 16rem;
  
}

.home-book a {
  height: 16rem;
  background-color: rgb(233, 233, 233);
  width: 10.5rem;
  color: rgb(91, 91, 91);
  font-family: 'Outfit';
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.5s;
}

.home-book a:hover {
  background-color: rgb(221, 221, 221);
}

.home-books-header {
  color: rgb(60, 60, 60);
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}
